.Imagem{
    width: 150px!important;
    height: 200px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: rgb(146, 83, 204);
    margin-bottom: 8px;
    text-align: left;
    display: none;
}
@media screen and (min-width: 1024px) { 
    .Imagem{
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    color:rgb(43,226,101);
    display: block;
    }
    
    .titulo{
        font-size: 30px;
        font-family: var(--fonte-secundaria);
        color:rgb(226, 43, 186);
        display: block;
        }
}